.col-1 {
  float: left;
  width: 8.33333333%;
}

.col-2 {
  float: left;
  width: 16.666.33333333%;
}

.col-3 {
  float: left;
  width: 25%;
}

.col-4 {
  float: left;
  width: 33.33333333%;
}

.col-5 {
  float: left;
  width: 45.833333333%;
}

.col-6 {
  float: left;
  width: 50%;
}

.col-7 {
  float: left;
  width: 54.166666666%;
}

.col-8 {
  float: left;
  width: 66.6666666666%;
}

.col-9 {
  float: left;
  width: 75%;
}

.col-10 {
  float: left;
  width: 83.3333333333%;
}

.col-11 {
  float: left;
  width: 91.66666666%;
}

.col-12 {
  float: left;
  width: 100%;
}

.navbar-container {
  position: fixed;
  float: right;
  width: 100%;
}

.navbar-list {
  text-align: center;
}

.nav-menu {
  display: inline;
  margin: 4%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row:before {
  display: table;
  content: "";
}

.row:after {
  display: table;
  content: "";
  clear: both;
}
